<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">P.clone()</a>
    </div>
    <ul class="nav navbar-nav">
      <% if (typeof user !== 'undefined'){%>
        <li><a href= <%= "/users/profile/" + user.id %>>Profile</a></li>
        <li><a href="/pins">Recent posts</a></li>
        <li><a href="/pins/dashboard">My dashboard</a></li>
      <%} else {%>
        <li><a href="/login">Login</a></li>
        <li><a href="/pins">Recent posts</a></li>
        <%}%>
    </ul>
  </div>
</nav>
